<div class = "columns is-centered mt-6">
  <div class = "column is-one-third">
    <h1 class = "is-size-2 has-text-weight-bold mb-3" >New Daily Goal</h1>
    <%= render "form", goal: @goal %>
  </div>
</div>
<div>
  <%= link_to "View all goals", goals_path %>
</div>